<div class="navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#">Caféblon</a>
        <div class="pull-right" style="height: 50px; line-height: 50px; vertical-align: middle">
            {{#link-to 'products' classNames="text-white"}}
                <i class="fa fa-list-ul"></i> Retour à la liste des produits
            {{/link-to}}
        </div>
    </div>

    <!--div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">Cafés</a></li>
        <li><a href="#about">Qui sommes nous?</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</div>
<div class="container">
    <div class="page-header">
    </div>
<div class="row center-block">
    <br/>
</div>
<div class="center-block row" style="min-height: 690px;" >
	<div class="col-xs-12 col-md-12">
			<div>
		    	<h4><span id="success" class="label label-success"></span></h4>
		   	</div>
		   		
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Café</th>
							<th>Quantité</th>
							<th><span class="pull-right">total (en FCFA)</span></th>
						</tr>
					</thead>
				      {{#each product in basket.products}}
						<tr class="list-unstyled">
				        	<td>{{product.aroma}}</td>
				        	<td>{{product.count}}</td>
				        	<td><span class="pull-right">{{product.total}}</span></td>
				    	</tr>
				      {{/each}}
                      {{#if basket.products}}
                        <tr class="list-unstyled">
                            <td class=""> + Frais de livraison</td>
                            <td colspan="2"><span class="pull-right">1000</span></td>
                        </tr>
                      {{/if}}
				    <tfoot>
			    		<tr>
			    			<td colspan="2">total</td>
			    			<td><span class="pull-right">{{basket.totalWithDelivery}}</span></td>
			    		</tr>
				    </tfoot>	
			    </table>
			</div>
		    <div class="pull-right">
		    	{{#if basket.products}}
		    	<button class="btn btn-primary btn-custom wheres-the-coffee" {{action 'openModal' 'modal' basket}}><i class="fa fa-shopping-cart"></i> Commander</button>
		    	{{/if}}
		    </div>
		</div>
	</div>
</div>
</div>