<div class="center-block" style="width:90%;">
	{{#link-to 'products' classNames="btn text-white orange-juice-sun"}}
		<i class="fa fa-list-ul"></i> Retour à la liste des produits
	{{/link-to}}
</div>
<div class="center-block row" style="width:90%;">
	<div class="col-xs-12 col-md-12">
			<div>
		    	<h4><span id="success" class="label label-success"></span></h4>
		   	</div>
		   		
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Café</th>
							<th>Quantité</th>
							<th><span class="pull-right">total (en FCFA)</span></th>
						</tr>
					</thead>
				      {{#each product in basket.products}}
						<tr class="list-unstyled">
				        	<td>{{product.aroma}}</td>
				        	<td>{{product.count}}</td>
				        	<td><span class="pull-right">{{product.total}}</span></td>
				    	</tr>
				      {{/each}}
                      {{#if basket.products}}
                        <tr class="list-unstyled">
                            <td class=""> + Frais de livraison</td>
                            <td colspan="2"><span class="pull-right">1000</span></td>
                        </tr>
                      {{/if}}
				    <tfoot>
			    		<tr>
			    			<td colspan="2">total</td>
			    			<td><span class="pull-right">{{basket.totalWithDelivery}}</span></td>
			    		</tr>
				    </tfoot>	
			    </table>
			</div>
		    <div class="pull-right">
		    	{{#if basket.products}}
		    	<button class="btn btn-primary" {{action 'openModal' 'modal' basket}}><i class="fa fa-shopping-cart"></i> Commander</button>
		    	{{/if}}
		    </div>
		</div>
	</div>
</div>