<div class="col-xs-6 col-md-8">
    <ul class="list-unstyled">
      {{#each itemController="product"}}
      
        <li class="spacer row">
            <div class="col-xs-6 col-md-1 pull-left"><img  {{bind-attr src=imageUrl}} alt="{{imageUrl}}" /></div>
            <div class="col-xs-6 col-md-2 tell"><span class="lead">{{aroma}}</span></div>
            <div class="col-xs-6 col-md-6 pull-right">
            	<span> {{price}} FCFA</span>  
				{{view Ember.Select content=quantity selectionBinding='count'}}
            	<button class="btn btn-primary btn-custom" {{action "addToBasket"}}>
            		<i class="fa fa-coffee fa-lg fa-inverse"></i>  Ajouter au panier{{added}}
            	</button>
            </div>
        </li>
      {{/each}}
    </ul>
</div>
<div class="col-xs-6 col-md-4">
	<div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Café</th>
					<th>Quantité</th>
					<th>total</th>
				</tr>
			</thead>
		      {{#each product in basket.products}}
				<tr class="list-unstyled">
		        	<td>{{product.aroma}}</td>
		        	<td>{{product.count}}</td>
		        	<td>{{product.total}}</td>
		    	</tr>
		      {{/each}}
		    <tfoot>
	    		<tr>
	    			<td colspan="2">total</td>
	    			<td>{{basket.total}}</td>
	    		</tr>
		    </tfoot>	
	    </table>
	</div>
    <div>
    	{{#if basket.products}}
    	<button class="btn btn-primary" {{action 'openModal' 'modal' basket}}><i class="fa fa-shopping-cart"></i> Commander</button>
    	{{/if}}
    </div>
    <div>
    	<h4><span id="success" class="label label-success"></span></h4>
   	</div>

</div>